node_modules/
dist/
.env
.env.*.local

apps/**/node_modules/
apps/**/dist/

.DS_Store
Thumbs.db

.npm-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/
*.log

.vscode/
.idea/
